@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;
    background: #dff;
    font-family: 'Poppins', sans-serif;
}

hr {
    color: #245;
}

table {
    font-size: 1.4em;
    margin: .5em 2.5em .5em 2.5em;
    border-collapse: collapse;
}

th {
    border: .03125em solid black;
    font-weight: normal;
}

th, td {
    padding: .5em;
}

td {
    background: #dff;
}

td#languages {
    color: #dff;
    background: #245;
}

th#chapter-head {
    font-size: 1.4em;
    color: #245;
    background: #cff;
}

th {
    background: #afd;
}

canvas {
    margin: .5em 2em .5em 2em;
    border: .1em dashed black;
}

li {
    margin: .5em .75em .5em .75em;
}

ol, ul, dl {
    font-size: 1.4em;
    margin: 1em 2.5em 1em 2.5em;
}

ol.nested, ul.nested, dl.nested {
    font-size: 1em;
}

p, summary.sum4 {
    font-size: 1.4em;
    margin: .5em 2.5em .5em 2.5em;
    padding: 0;
    line-height: 140%;
}

blockquote {
    font-size: 1.2em;
    margin: .75em 4.5em .75em 4.5em;
    padding: 0;
    line-height: 140%;
}

p.authors {
    font-size: 1.4em;
    text-align: center;
    color: #60b;
}

p.sources {
    font-size: 1.1em;
    text-align: center;
    color: #30a;
}

h1,h2 {
    font-weight: bold;
}

h1 {
    margin: 0 0 1em 0;
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
    color: #245;
}

h1.toc-head {
    margin: 0 0 0 0;
}

h2 {
    font-size: 2.2em;
    margin: 1.25em 1em 1.25em 1em;
    color: #427;
}

h3 {
    font-size: 2em;
    margin: 1.15em 1.5em 1em 1.5em;
    color: #263;
    font-weight: bold;
}

h4 {
    font-size: 1.8em;
    margin: 1em 2em .75em 2em;
    color: #339;
}

h5 {
    font-size: 1.6em;
    margin: 1em 2em .75em 2em;
    color: #488;
}

#header {
    width: auto;
    height: 60;
    padding: 10 2.5em;
    line-height: 4em;
    background: #245;
    color: #dff;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: #fff;
}

#header a:focus , #header a:hover {
    text-decoration: underline;
}

figure, figure.toc {
    text-align: center;
}

figure.toc {
    margin: 0em 4em 4em 4em;
}

figure.left {
    margin: 2em 1em 1em 6em;
    text-align: left;
}

figcaption {
    color: #606;
    font-style: italic;
    text-align: center;
    margin: 1em 1.25em .75em 20;
}

.python-console {
    text-align: center;
    float: center;
    width: 100%;
    font-family: sans-serif; 
}

.illustr-container {
    width: 1000;
    height: 400;
    flex: 1;
    margin: 1.25em 20 0 0;
    overflow: auto;
}

.illustr-text {
    display: inline-block;
    width: 33%;
}

.illustration {
    display: inline-block;
    float: right;
}

#logo {
    float: center;
    margin: .1em 1.25em 0 1.25em;
}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 1.25em 0 1.25em;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.00375em;
    text-transform: uppercase;
    text-align: right;
}

#user-tools a {
    border-bottom: .03125em solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #285d91;
    color: #285d91;
}

summary.sum1 {
    font-size: 2em;
    color: #245;
    margin: 1em 1.5em 1em 1.5em;
}

summary.sum2 {
    font-size: 1.8em;
    color: #239;
    margin: .75em 1.5em .75em 2.5em;
}

summary.sum3 {
    font-size: 1.6em;
    color: #284;
    margin: .5em 1.5em .5em 3.5em;
}

summary.menu_sum {
    font-size: 1.6em;
    color: #249;
    margin: .5em 0em .5em 0em;
}

p.lead-quote {
    margin: .75em 8em .75em 8em;
}

.center {
    margin: 0 auto;
}


/*****
The Wrapped div in which content will be filled
***/
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    font-size: 144%;
}

/****** Nav Bar *****/
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}



/******** Side Bar Style *********/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #488;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h1, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 1em 1em;
    font-size: 0.8em;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar.active ul ul ul a {
    padding: 1em 1em;
    font-size: 0.6em;
}

#sidebar .sidebar-header {
    padding-bottom: 2.8em;
    padding-top: .8em;
    padding-left: 1.6em;
    background: #245;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 2.0em;
    text-align: center;
    padding-top: 0.8em;
    padding-right: 0.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 0.8em;
    text-align: left;
    color: #fff;
    font-size: 1.4em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar ul ul a {
    padding-left: 3.0em;
    text-align: left;
    color: #fff;
    font-size: 1.1em;
    display: block;
}

#sidebar ul ul ul a {
    padding-left: 4.0em;
    text-align: left;
    color: #fff;
    font-size: 0.8em;
    display: block;
}

#sidebar h1 {
    color: #dff;
    background-color: transparent;
    text-align: left;
    margin: 1em 0em 0em 0em;
    padding: 0em;
}

#sidebar ul {
    margin: 0em;
}

#sidebar ul li {
    margin: 0em;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

/*******
The Nav sidebar media effect
*****/

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}
