{% extends "ebase.html" %}
{% block content %}
    <div class="module">

        <body>

            <form align ="left" method="get" action="mailto:{{ emails }}"  >
                <br>Your name:
                <input type="text" name="realname"><br>

                <br>Your email:
                <input type="text" name="email"><br>
                <br> Subject:
                <input type ="text" name="subject" wrap="hard"><br>
                <br>Your feedback:<br>
                <textarea name="body" rows="15" cols="50" wrap="hard" placeholder="Enter your feedback..."></textarea><br>

                <br><input type = "submit" value= "Submit">


            </form>

        </body>



    </div>

{% endblock content %}
