{% extends "ebase.html" %}
{% block content %}
    <div class="module">
        <details>
            <summary class="sum2">
            About Emu86
            </summary>

            <p>
            This is an open source project written by Gene Callahan,
            Abhishek Ramchandran, Varun Chopra, Nathan Conroy,
            and Nanda Kishore Kalidindi.
            The goal is to create a simple learning tool to introduce students to
            assembly language programming in a class on, say, operating systems
            or compilers, where the focus is not assembly language, and actually
            using an assembler would be a distraction from the main theme of the
            course. It includes a (growing) subset of x86 assembler
            instructions. (This is, by the way, Intel assembly language, and
            not AT&amp;T assembly language.)
            </p>

            <details>
                <summary class="sum3">
                    x86 Assembly Guide
                </summary>
                <p>
                    Here is a page from the University of Virginia Computer Science
                    Department that gives a basic guide to x86 assembly language,
                    which we have followed in creating our emulator:
                    <br />
                    <a
                    href="https://www.cs.virginia.edu/~evans/cs216/guides/x86.html">
                    Guide to Intel x86 assembly.
                    </a>
                </p>
            </details>
        </details>

        <details>
            <summary class="sum2">
            Sample Programs
            </summary>

            <p>
                Here are some sample programs written in our emulator, as
                illustrations of what can, at the moment, can be accomplished
                with it. (Of course, far lengthier programs are possible, but
                student exercises would typically be brief, like these
                samples.)
            </p>

            <ul class="nested">
                <li>
                    <a href="https://github.com/gcallah/Emu86/blob/master/tests/loop.asm">
                        A simple loop
                    </a>
                </li>

                <li>
                    <a
                        href="https://github.com/gcallah/Emu86/blob/master/tests/power.asm">
                        Raise a number to a power
                    </a>
                </li>

                <li>
                    <a
                        href="https://github.com/gcallah/Emu86/blob/master/tests/data.asm">
                        Declare some variables
                    </a>
                </li>

                <li>
                    <a
                        href="https://github.com/gcallah/Emu86/blob/master/tests/test_control_flow.asm">
                        Exercise control flow instructions
                    </a>
                </li>

                <li>
                    <a
                        href="https://github.com/gcallah/Emu86/blob/master/tests/key_test.asm">
                        Uses our "keyboard interrupt"
                    </a>
                </li>
            </ul>
        </details>

        <details>
            <summary class="sum2">
            The Data Section
            </summary>
        
            <p>
                This section is preceded by the directive ".data". <i>If</i>
                you have a data section, you must start the program section
                with the directive ".text". The data section allows the
                declaration of names for memory locations.
            </p>

<hr>
<h4>
             .data
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            var: .data_type value 
</ul>
<h5>Description</h5>

<p>
            After finding .data on a line, the parser will
            place 'value' in 'var' with data type '.data_type'.
            The data_type is not used at the moment.
</p>
        </details>

        <details>
            <summary class="sum2">
            Instructions Available
            </summary>

            <p>
                Some of these are only partially done, i.e., some variant of
                an instruciton may not work. We will do our best to note that
                where possible.
                <br>
                In the syntax descriptions, we have:
            </p>
            <ul class="nested">
                <li>con: constant
                <li>lbl: label
                <li>mem: memory location
                    <br>
                    A memory location may be designated by [num], where
                    <i>num</i> is the actual address, or by [reg], where
                    <i>reg</i> holds the memory address.
                <li>reg: register
            </ul>

            <details>
                <summary class="sum3">
                Interrupts
                </summary>
<hr>
<h4>
             int
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            INT con
</ul>
<h5>Description</h5>

<p>
            The behavior of INT depends on both its "con" operand
            as well as the value of the EAX register. See the descriptions
            of specific interrupt commands below.
            We will build various "interrupt" handlers as needed.
            At present, we only have two:
                INT 22, with EAX set to 0, to get a key from
            the keyboard. And we only pretend the key is from the keyboard,
            since we are running on the Internet, and can't read the user's
            keyboard.
            And INT 32, to exit the program. There should be a 0 in EAX.
</p>
            </details>

            <details>
                <summary class="sum3">
                Data Movement
                </summary>
<hr>
<h4>
             mov
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            MOV reg, reg
<li>            MOV reg, con
<li>            MOV reg, mem
<li>            MOV mem, reg
<li>            MOV mem, mem
</ul>
<h5>Description</h5>

<p>
            Copies the value of op2 to the location mentioned in op1. 
</p>
<hr>
<h4>
             pop
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            POP reg
<li>            POP mem
</ul>
<h5>Description</h5>

<p>
            POPS the topmost value out of the stack.
            Decrements the stack pointer.
            Can move the stack value to a memory location or register.
</p>
<hr>
<h4>
             push
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            PUSH reg
<li>            PUSH con
<li>            PUSH mem
</ul>
<h5>Description</h5>

<p>
            PUSHES the value into the stack with reference to the stack 
            pointer position (ESP). Increments the stack pointer automatically,
            everytime a PUSH is called. Callable to store a memory value,
            register value, and constant value to the stack.
</p>
<hr>
<h4>
             lea
</h4>

<h5>Syntax</h5>

<ul class="nested">
</ul>
            </details>
                
            <details>
                <summary class="sum3">
                Control Flow
                </summary>
<hr>
<h4>
             cmp
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            CMP reg, reg
<li>            CMP reg, mem
<li>            CMP reg, con
</ul>
<h5>Description</h5>

<p>
            Compares op1 and op2, and sets (right now) the SF and ZF flags.
            It is not clear at this moment how to 
            treat the OF and CF flags in Python,
            since Python integer arithmetic never carries or overflows!
</p>
<hr>
<h4>
            jmp
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            JMP lbl
</ul>
<hr>
<h4>
             je
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            JE lbl
</ul>
<h5>Description</h5>

<p>
            Jumps if ZF is one.
</p>
<hr>
<h4>
             jne
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            JNE lbl
</ul>
<h5>Description</h5>

<p>
            Jumps if ZF is zero.
</p>
<hr>
<h4>
             jg
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            JG lbl
</ul>
<h5>Description</h5>

<p>
            Jumps if SF == 0 and ZF == 0.
</p>
<hr>
<h4>
             jge
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            JGE lbl
</ul>
<h5>Description</h5>

<p>
            Jumps if SF == 0.
</p>
<hr>
<h4>
             jl
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            JL lbl
</ul>
<h5>Description</h5>

<p>
            Jumps if SF == 1.
</p>
<hr>
<h4>
             jle
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            JLE lbl
</ul>
<h5>Description</h5>

<p>
            Jumps if SF == 1 or ZF == 1.
</p>
<hr>
<h4>
             call
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            CALL <label>
</ul>
<h5>Description</h5>

<p>
            Pushes value of EIP to stack and jumps to the internal subroutine.
</p>
<hr>
<h4>
             ret
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            RET
</ul>
<h5>Description</h5>

<p>
            Pops value from stack to EIP and returns control to the 
            the line after the subroutine call.
</p>
            </details>

            <details>
                <summary class="sum3">
                Arithmetic and Logic
                </summary>
<hr>
<h4>
             add
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            ADD reg, reg
<li>            ADD reg, mem
<li>            ADD reg, con
</ul>
<hr>
<h4>
             sub
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            SUB reg, reg
<li>            SUB reg, mem
<li>            SUB reg, con
</ul>
<hr>
<h4>
             imul
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            IMUL reg, reg
<li>            IMUL reg, mem
<li>            IMUL reg, con
</ul>
<hr>
<h4>
             and
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            AND reg, reg
<li>            AND reg, mem
<li>            AND reg, con
</ul>
<hr>
<h4>
             or
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            OR reg, reg
<li>            OR reg, mem
<li>            OR reg, con
</ul>
<hr>
<h4>
             xor
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            XOR reg, reg
<li>            XOR reg, mem
<li>            XOR reg, con
</ul>
<hr>
<h4>
             shl
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            SHL reg, reg
<li>            SHL reg, mem
<li>            SHL reg, con
</ul>
<hr>
<h4>
             shr
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            SHR reg, reg
<li>            SHR reg, mem
<li>            SHR reg, con
</ul>
<hr>
<h4>
             not
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            NOT reg
</ul>
<hr>
<h4>
             inc
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            INC reg
</ul>
<hr>
<h4>
             dec
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            DEC reg
</ul>
<hr>
<h4>
             neg
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            NEG reg
</ul>
<hr>
<h4>
             idiv
</h4>

<h5>Syntax</h5>

<ul class="nested">
<li>            IDIV reg
</ul>
<h5>Description</h5>

<p>
            The idiv instruction divides the contents of
            the 64 bit integer EDX:EAX (constructed by viewing
            EDX as the most significant four bytes and EAX
            as the least significant four bytes) by the
            specified operand value. The quotient result
            of the division is stored into EAX, while the
            remainder is placed in EDX.
</p>
            </details>
        </details>

        <details>
            <summary class="sum2">
            User Interface Features
            </summary>

            <p>
                Clicking on any register will display its value in binary.
            </p>
        </details>


    </div>
{% endblock content %}
