{% extends "ebase.html" %}

{% block content %}


    <div class="module">
        <form id="codeForm" action="{% url 'Emu86:main_page' %}" method="post">
            <br>
            <input type="hidden" name="nxt_key">
            <input type="hidden" name="unwritable">
            {% if flavor == "intel" %}
                <input type="hidden" name="flavor" value="intel">
            {% elif flavor == "att" %}
                <input type="hidden" name="flavor" value="att">
            {% elif flavor == "mips_asm" %}
                <input type="hidden" name="flavor" value="mips_asm">
            {% elif flavor == "mips_mml" %}
                <input type="hidden" name="flavor" value="mips_mml">
            {% else %}
                <input type="hidden" name="flavor">
            {% endif %}

            {% if data_init == "on" %}
                <input type="hidden" name="data_init" value="on">
            {% else %}
                <input type="hidden" name="data_init" value="off">
            {% endif %}

            <input type="hidden" name="start_ip" value="{{ start_ip }}" >
            <input type="hidden" name="bit_code" value="{{ bit_code }}" >
            <input type="hidden" name="button_type" value="{{ button_type }}" >
            <input type="hidden" name="mem_data" value="">
            <input type="hidden" name="base" value="{{ base }}">
            
            {% if data_init == "on" %}
                <br>
                Set Data Memory:&ensp;
                Location: <input type="text" id="memText"> 
                <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                Value:&ensp;&ensp;&ensp;<input type="text" id="valueText"> 
                <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                Repeat:&ensp;&ensp;<input type="text" id="repeatText" value="1">
                <input type="button" id="setMem" value="Set" onclick="AddMem()">
                <br> <br>
            {% endif %}
            Sample Programs: 
            
            <select id="sample" name="sample" onchange="selectSample()">
                {% if sample == "none" %}
                    <option value="none" selected></option>
                {% else %}
                    <option value="none"></option>
                {% endif %}
                {% if sample == "addTwo" %}
                    <option value="addTwo" selected>Add two numbers</option>
                {% else %}
                    <option value="addTwo">Add two numbers</option>
                {% endif %}
                {% if sample == "arithExpr" %}
                    <option value="arithExpr" selected>Arithmetic expression</option>
                {% else %}
                    <option value="arithExpr">Arithmetic expression</option>
                {% endif %}
                {% if sample == "arithShift" %}
                    <option value="arithShift" selected>Arithmetic shift</option>
                {% else %}
                    <option value="arithShift">Arithmetic shift</option>
                {% endif %}
                {% if sample == "array" %}
                    <option value="array" selected>Declare an array</option>
                {% else %}
                    <option value="array">Declare an array</option>
                {% endif %}
                {% if sample == "area" %}
                    <option value="area" selected>Area of a rectangle</option>
                {% else %}
                    <option value="area">Area of a rectangle</option>
                {% endif %}
                {% if sample == "loop" %}
                    <option value="loop" selected>A simple loop</option>
                {% else %}
                    <option value="loop">A simple loop</option>
                {% endif %}
                {% if sample == "log" %}
                    <option value="log" selected>Calculate log (base 2) of a number</option>
                {% else %}
                    <option value="log">Calculate log (base 2) of a number</option>
                {% endif %}
                {% if sample == "avg" %}
                    <option value="avg" selected>Calculate average of an array</option>
                {% else %}
                    <option value="avg">Calculate average of an array</option>
                {% endif %}
                {% if sample == "celFah" %}
                    <option value="celFah" selected>Convert from Celsius to Fahrenheit</option>
                {% else %}
                    <option value="celFah">Convert from Celsius to Fahrenheit</option>
                {% endif %}
                {% if sample == "modify" %}
                    <option value="modify" selected>Modify an array</option>
                {% else %}
                    <option value="modify">Modify an array</option>
                {% endif %}
                {% if sample == "sqrt" %}
                    <option value="sqrt" selected>Square root of a number</option>
                {% else %}
                    <option value="sqrt">Square root of a number</option>
                {% endif %}
                {% if sample == "power" %}
                    <option value="power" selected>Raise a number to a power</option>
                {% else %}
                    <option value="power">Raise a number to a power</option>
                {% endif %}
                {% if sample == "data" %}
                    <option value="data" selected>Use the data section</option>
                {% else %}
                    <option value="data">Use the data section</option>
                {% endif %}
                {% if flavor != "mips_asm" and flavor != "mips_mml" %}
                    {% if sample == "keyInterrupt" %}
                        <option value="keyInterrupt" selected>Keyboard interrupt</option>
                    {% else %}
                        <option value="keyInterrupt">Keyboard interrupt</option>
                    {% endif %}
                    {% if sample == "dataAccess" %}
                        <option value="dataAccess" selected>Accessing data in memory</option>
                    {% else %}
                        <option value="dataAccess">Accessing data in memory</option>
                    {% endif %}
                {% endif %}
            </select>
            {% if registers.items|length >= 67%}
                <button type="button" onclick="switchReg()" id="viewReg">Display F Registers</button>
            {% endif %}
            <br>
            <table>
                <tr>
                    <td id="form-cell">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="button" name="clear"
                                value="Reinitialize"
                                title="Clear the contents of memory and the stack."
                                id="clear-button"
                                onclick="clearButton()"
                                onmouseover="displayHelp(this.name)" 
                                onmouseleave="hideHelp()" 
                                {% if button_type == "demo" %}
                                    disabled
                                {% endif %}>
                            <input type="button" name="run"
                                value="Run Code"
                                title="Execute all lines of code"
                                id="run-button"
                                onclick="runButton()"
                                onmouseover="displayHelp(this.name)" 
                                onmouseleave="hideHelp()"
                                {% if button_type == "demo" %}
                                    disabled
                                {% endif %}>
                            <input type="button" name="step"
                                value="Step Code"
                                title="Execute one instruction at a time."
                                id="step-button"
                                onclick="stepButton()"
                                onmouseover="displayHelp(this.name)" 
                                onmouseleave="hideHelp()"
                                {% if button_type == "demo" %}
                                    disabled
                                {% endif %}>
                            <input type="button" name="save"
                                value="Save Code"
                                id="save-button"
                                title="Saves the code "
                                onclick="Savecode()"
                                onmouseover="displayHelp(this.name)" 
                                onmouseleave="hideHelp()"
                                {% if button_type == "demo" %}
                                    disabled
                                {% endif %}>
                            <input type="button" name="demo"
                                value="Demo Code"
                                title="Demo code line by line."
                                id="demo-button"
                                onclick="demoButton()"
                                onmouseover="displayHelp(this.name)" 
                                onmouseleave="hideHelp()"
                                {% if button_type == "demo" %}
                                    disabled
                                {% endif %}>
                            <input type="button" name="pause"
                                value="Pause Code"
                                title="Pauses code."
                                id="pause-button"
                                onclick="pauseButton()"
                                onmouseover="displayHelp(this.name)" 
                                onmouseleave="hideHelp()">
                            <br>
                            <div class="help-pop">
                                <span class="help-text" id="help-desc">
                                </span>
                            </div>
                            <br>
                    </td>
                    <td id="registers-cell">
                        {% if registers.items|length < 67 %}
                            <table id="registers-table">
                            <tr>
                                <th>
                                    Registers
                                </th>
                                <th>
                                    Contents
                                </th>
                                {% if registers|length > 10 %}
                                    <th>
                                    Registers
                                    </th>
                                    <th>
                                    Contents
                                    </th>
                                    <th>
                                    Registers
                                    </th>
                                    <th>
                                    Contents
                                    </th>
                                {% endif %}
                            </tr>
                            <tr>
                            {% for reg, cont in registers.items %}
                                {% if registers|length > 10 %}
                                    {% if reg == "R9" %}
                                        <td id="register"></td><td id="contents"></td></tr><tr class ={{reg.0}}>
                                    {% elif reg == "R10" or reg == "R11" %}
                                        </tr> <tr class ={{reg.0}}>
                                    {% elif reg == "PC" %}
                                        <td id="register"></td><td id="contents"></td></tr><tr class={{reg.0}}>
                                    {% else %}
                                        {% if forloop.counter0|divisibleby:3 %}
                                            {% if reg != "R21" and reg != "R22" and reg != "R23" %}
                                                </tr> <tr class={{reg.0}}>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    </tr> <tr class={{reg.0}}>
                                {% endif %}
                              
                                {% if reg in unwritable %}
                                    <td id="unwritable">
                                {% else %}
                                    <td id="register">
                                {% endif %}
                                    {{ reg }}
                                </td>

                                {% if reg in changes %}
                                    <td id="contents" style="background-color:#FFFF00;">
                                {% else %}
                                    <td id="contents">
                                {% endif %}
                                
                                {% if data_init == "on" %}
                                    <input
                                        {% if reg in unwritable %}
                                            id="unwr-cont"
                                            readonly = "readonly"
                                        {% else %}
                                            id="reg-cont"
                                        {% endif %}
                                        value="{{ cont }}"
                                        name="{{ reg }}"
                                        size="10"
                                    onclick=convert(name,value)>
                                {% else %}
                                    <input
                                        {% if reg in unwritable %}
                                            id="unwr-cont"
                                        {% else %}
                                            id="reg-cont"
                                        {% endif %}
                                        value="{{ cont }}"
                                        name="{{ reg }}"
                                        size="10"
                                        readonly="readonly"
                                        {% if reg in changes %}
                                            style="background-color:#FFFF00;"
                                        {% else %}
                                            style="background-color:#eff;"
                                        {% endif %}
                                    onclick=convert(name,value)>
                                {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                            <tr>
                                <table id="flags-table">
                                    <tr>
                                        <th colspan="4"
                                            style="text-align:center">
                                            Flags
                                        </th>
                                    </tr>
                                    <tr>
                                        {% for flag in flags %}
                                            <td id="flag"
                                                style="text-align:center">
                                                {{ flag }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for flag, val in flags.items %}
                                            <td id="contents"
                                                style="text-align:center"
                                            >
                                                <input
                                                    id="flag-cont"
                                                    value="{{ val }}"
                                                    name="{{ flag }}"
                                                    size="1"
                                                    readonly="readonly"
                                                >
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </tr>
                            </table>
                        {% else %}
                            <!-- else there are F registers as well -->
                            <table id="registers-table">
                            <tr>
                                <th>
                                    Registers
                                </th>
                                <th>
                                    Contents
                                </th>
                                {% if registers|length > 10 %}
                                    <th>
                                    Registers
                                    </th>
                                    <th>
                                    Contents
                                    </th>
                                    <th>
                                    Registers
                                    </th>
                                    <th>
                                    Contents
                                    </th>
                                {% endif %}
                            </tr>
                            <tr>
                            {% for reg, cont in r_registers %}
                                {% if registers|length > 10 %}
                                    {% if reg == "R9" %}
                                        <td id="register"></td><td id="contents"></td></tr><tr class="R">
                                    {% elif reg == "R10" or reg == "R11" %}
                                        </tr> <tr class ="R">
                                    {% elif reg == "PC" %}
                                        <td id="register"></td><td id="contents"></td></tr><tr class="R">
                                    {% else %}
                                        {% if forloop.counter0|divisibleby:3 %}
                                            {% if reg != "R21" and reg != "R22" and reg != "R23" %}
                                                </tr> <tr class="R">
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    </tr> <tr class="R">
                                {% endif %}
                              
                                {% if reg in unwritable %}
                                    <td id="unwritable">
                                {% else %}
                                    <td id="register">
                                {% endif %}
                                    {{ reg }}
                                </td>

                                {% if reg in changes %}
                                    <td id="contents" style="background-color:#FFFF00;">
                                {% else %}
                                    <td id="contents">
                                {% endif %}
                                
                                {% if data_init == "on" %}
                                    <input
                                        {% if reg in unwritable %}
                                            id="unwr-cont"
                                            readonly = "readonly"
                                        {% else %}
                                            id="reg-cont"
                                        {% endif %}
                                        value="{{ cont }}"
                                        name="{{ reg }}"
                                        size="10"
                                    onclick=convert(name,value)>
                                {% else %}
                                    <input
                                        {% if reg in unwritable %}
                                            id="unwr-cont"
                                        {% else %}
                                            id="reg-cont"
                                        {% endif %}
                                        value="{{ cont }}"
                                        name="{{ reg }}"
                                        size="10"
                                        readonly="readonly"
                                        {% if reg in changes %}
                                            style="background-color:#FFFF00;"
                                        {% else %}
                                            style="background-color:#eff;"
                                        {% endif %}
                                    onclick=convert(name,value)>
                                {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                            <tr>
                            {% for reg, cont in f_registers %}
                                {% if registers|length > 10 %}
                                    {% if reg == "R9" %}
                                        <td id="register"></td><td id="contents"></td></tr><tr class ="F">
                                    {% elif reg == "R10" or reg == "R11" %}
                                        </tr> <tr class ="F">
                                    {% elif reg == "PC" %}
                                        <td id="register"></td><td id="contents"></td></tr><tr class="F">
                                    {% else %}
                                        {% if forloop.counter0|divisibleby:3 %}
                                            {% if reg != "R21" and reg != "R22" and reg != "R23" %}
                                                </tr> <tr class="F">
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    </tr> <tr class="F">
                                {% endif %}
                              
                                {% if reg in unwritable %}
                                    <td id="unwritable">
                                {% else %}
                                    <td id="register">
                                {% endif %}
                                    {{ reg }}
                                </td>

                                {% if reg in changes %}
                                    <td id="contents" style="background-color:#FFFF00;">
                                {% else %}
                                    <td id="contents">
                                {% endif %}
                                
                                {% if data_init == "on" %}
                                    <input
                                        {% if reg in unwritable %}
                                            id="unwr-cont"
                                            readonly = "readonly"
                                        {% else %}
                                            id="reg-cont"
                                        {% endif %}
                                        value="{{ cont }}"
                                        name="{{ reg }}"
                                        size="10"
                                    onclick=convert(name,value)>
                                {% else %}
                                    <input
                                        {% if reg in unwritable %}
                                            id="unwr-cont"
                                        {% else %}
                                            id="reg-cont"
                                        {% endif %}
                                        value="{{ cont }}"
                                        name="{{ reg }}"
                                        size="10"
                                        readonly="readonly"
                                        {% if reg in changes %}
                                            style="background-color:#FFFF00;"
                                        {% else %}
                                            style="background-color:#eff;"
                                        {% endif %}
                                    onclick=convert(name,value)>
                                {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                            <tr>
                                <table id="flags-table">
                                    <tr>
                                        <th colspan="4"
                                            style="text-align:center">
                                            Flags
                                        </th>
                                    </tr>
                                    <tr>
                                        {% for flag in flags %}
                                            <td id="flag"
                                                style="text-align:center">
                                                {{ flag }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for flag, val in flags.items %}
                                            <td id="contents"
                                                style="text-align:center"
                                            >
                                                <input
                                                    id="flag-cont"
                                                    value="{{ val }}"
                                                    name="{{ flag }}"
                                                    size="1"
                                                    readonly="readonly"
                                                >
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </tr>
                            </table>

                            
                        {% endif %}
                    </td>
                </tr>
            </table>
            <hr>
            <br>
            Last Instruction Executed: 
            <input type="text" name="last_instr" max_length="64"
                size="64" readonly="readonly" value="{{ last_instr }}">
            <br>
            <br>
            Error Message (if any):

            <input type="text" name="error" max_length="64"
                size="64" readonly="readonly" value="{{ error }}"
                id="error">
            <script>
                highlightCode();
            </script>
            <br>
            <br>
            <table>
                <tr>
                    <th id="MemStack">
                        <br>
                        Memory Used:
                        <br>
                    </th>
                    <th id="MemStack">
                        <br>
                            Stack:
                        <br>
                    </th>
                    <th id="MemStack">
                        <br>
                            C-Stack:
                        <br>
                    </th>
                </tr>
                <tr>
                    <td>
                    <div style="height:300px;overflow:auto;">
                        <table id="memory-table">
                            {% for addr, cont in memory.items %}
                                <script> 
                                    document.getElementsByName("mem_data")[0].value += "{{ addr }}:{{ cont }}, "; 
                                </script>
                                <tr>
                                    <td id="mem-loc" style="height:5px">
                                        {{ addr }}
                                    </td>
                                    <td id="contents" style="height:5px">
                                        <input
                                            id="mem-cont"
                                            value="{{ cont }}"
                                            name="{{ addr }}"
                                            size="5"
                                            readonly="readonly"
                                            style="background-color:#eff;"
                                        >
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </td>
                    <td>
                        <div style="height:300px;overflow:auto;">
                        <table id="stack-table">
                            {% for addr, cont in stack.items %}
                                <tr>
                                    <td id="mem-loc" style="height:5px">
                                        {{ addr }}
                                    </td>
                                    <td id="contents" style="height:5px">
                                        {% if data_init == "on" %}
                                            <input
                                                id="mem-cont"
                                                value="{{ cont }}"
                                                name="{{ addr }}"
                                                size="5"
                                            >
                                        {% else %}
                                            <input
                                                id="mem-cont"
                                                value="{{ cont }}"
                                                name="{{ addr }}"
                                                size="5"
                                                readonly="readonly"
                                                style="background-color:#eff;"
                                            >
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </td>
                     <td>
                        <div style="height:300px;overflow:auto;">
                        <table id="stack-table">
                            {% for label in cstack reversed %}
                                <tr>
                                    {% if stack_change == label %}
                                        <td id="mem-loc" style="height:5px">
                                            SP
                                        </td>
                                    {% else %}
                                        <td id="mem-loc" style="height:5px">
                                        </td>
                                    {% endif %}
                                    <td id="mem-cont" style="height:5px">
                                        {{ label }}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for sym, cont in symbols.items reversed %}
                                <tr>
                                    <td id="mem-loc" style="height:5px">
                                    </td>
                                    <td id="mem-cont" style="height:5px">
                                        {{ sym }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    </td>
                </tr>
            
            </table>
        </form>
        <br>

        {% if "development" in header %}
            <br>
            Debug Information:
            <br>


            <textarea rows="12" cols="60" readonly="readonly">
                {{ debug }}
            </textarea>
        {% endif %}
    </div>

    <script>
        if (document.getElementsByName("button_type")[0].value == "demo"){
            SubmitForm(true);
        }
        if (document.getElementsByName("button_type")[0].value == "pause") {
            SubmitForm(true, true);
        }

        document.querySelectorAll('.F').forEach(function(button) {
            button.style.display = "none";
        });

        function switchReg() {
            var elem = document.getElementById("viewReg");
            if (document.querySelectorAll('.R')[0].style.display == "none") {
                document.querySelectorAll('.F').forEach(function(button) {
                    button.style.display = "none";
                });
                document.querySelectorAll('.R').forEach(function(button) {
                    button.style.display = "table-row";
                });
                document.querySelectorAll('.P').forEach(function(button) {
                    button.style.display = "table-row";
                });
                elem.innerHTML = "View F Registers";
            } else {
                document.querySelectorAll('.R').forEach(function(button) {
                    button.style.display = "none";
                });
                document.querySelectorAll('.F').forEach(function(button) {
                    button.style.display = "table-row";
                });
                document.querySelectorAll('.P').forEach(function(button) {
                    button.style.display = "table-row";
                });
                elem.innerHTML = "View R Registers";
            }
        }
    </script>

{% endblock content %}
