{% extends "ebase.html" %}

{% block content %}



    <div class="module">
        <form action="{% url 'Emu86:main_page' %}" method="post">
            <input type="hidden" name="nxt_key">
            <input type="hidden" name="unwritable">
            <table>
                <tr>
                    <td id="form-cell">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="submit" name="clear"
                                value="Clear Mem" title="Clear the contents of the memory" id="clear-button">
                            <input type="submit" name="run"
                                value="Run Code" title="Execute all lines of Code" id="run-button">
                            <input type="submit" name="step"
                                value="Step Code" title="Press to execute one instruction at a time starting from first instruction" id="step-button">
                            <input type="button" name="save"
                                value="Save Code" id="save-button" title="Saves the Code " onclick="Savecode()">
                            <br>
                    </td>
                    <td id="registers-cell">
                        <table id="registers-table">
                            <tr>
                                <th>
                                    Register
                                </th>
                                <th>
                                    Contents
                                </th>
                            </tr>
                            {% for reg, cont in registers.items %}
                                <tr>
                                    {% if reg in unwritable %}
                                        <td id="unwritable">
                                    {% else %}
                                        <td id="register">
                                    {% endif %}
                                        {{ reg }}
                                    </td>

                                    <td id="contents">
                                        <input
                                            {% if reg in unwritable %}
                                                id="unwr-cont"
                                            {% else %}
                                                id="reg-cont"
                                            {% endif %}
                                            value="{{ cont }}"
                                            name="{{ reg }}"
                                            size="10"
                                            readonly="readonly"
                                        onclick=convert(name,value)>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <table id="flags-table">
                                    <tr>
                                        <th colspan="4"
                                            style="text-align:center">
                                            Flags
                                        </th>
                                    </tr>
                                    <tr>
                                        {% for flag in flags %}
                                            <td id="flag"
                                                style="text-align:center">
                                                {{ flag }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for flag, val in flags.items %}
                                            <td id="contents"
                                                style="text-align:center"
                                            >
                                                <input
                                                    id="flag-cont"
                                                    value="{{ val }}"
                                                    name="{{ flag }}"
                                                    size="1"
                                                    readonly="readonly"
                                                >
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr>
            <br>
            Last Instruction Executed: 
            <input type="text" name="last_instr" max_length="64"
                size="64" readonly="readonly" value="{{ last_instr }}">
            <br>
            <br>
            Error Message (if any):

            <input type="text" name="error" max_length="64"
                size="64" readonly="readonly" value="{{ error }}"
                id="error">
            <br>
            <br>
            <table>
                <tr>
                    <th id="MemStack">
                        <br>
                        Memory:
                        <br>
                    </th>
                    <th id="MemStack">
                        <br>
                        Stack:
                        <br>
                    </th>
                </tr>
                <tr>
                    <td>
                        <table id="memory-table">
                            <tr>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Contents
                                </th>
                            </tr>
                             {% for addr, cont in memory.items %}
                                <tr>
                                    <td id="mem-loc">
                                        {{ addr }}
                                    </td>
                                    <td id="contents">
                                        <input
                                            id="mem-cont"
                                            value="{{ cont }}"
                                            name="{{ addr }}"
                                            size="10"
                                        >
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table id="stack-table">
                            <tr>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Contents
                                </th>
                            </tr>
                             {% for addr, cont in stack.items %}
                                <tr>
                                    <td id="mem-loc">
                                        {{ addr }}
                                    </td>
                                    <td id="contents">
                                        <input
                                            id="mem-cont"
                                            value="{{ cont }}"
                                            name="{{ addr }}"
                                            size="10"
                                        >
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <br>
        Debug Information:
        <br>


        <textarea rows="12" cols="60" readonly="readonly">
            {{ debug }}
        </textarea>
    </div>

{% endblock content %}
