{% extends "ebase.html" %}
{% block content %}
    <div class="module">
        <h2>
            About Emu86
        </h2>
            <p>
            This is an open source project written by Gene Callahan, Adnan Bin Hoq,
            and Syed Maudud E Rabbi with the aid of Paul Logston.
            The goal is to create a simple learning tool to introduce students to
            assembly language programming in a class on, say, operating systems
            or compilers, where the focus is not assembly language, and actually
            using an assembler would be a distraction from the main theme of the
            course. It includes a (growing) subset of x86 assembler
            instructions.
            </p>

        <h2>
            Instructions Available
        </h2>
            <p>
                Many of these are only partially done: for instance, as of yet,
                there is no memory addressing available.
            <ul>
                <li>MOV
                <li>ADD
                <li>SUB
                <li>IMUL
                <li>AND
                <li>OR
                <li>XOR
            </ul>
    </div>
{% endblock content %}
