{% extends "ebase.html" %}
{% block content %}
    <div class="module">
        <div id="code-input">
            <form action="{% url 'Emu86:main' %}" method="post">
                {% csrf_token %}
    	        {{ form.as_p }}
                <input type="submit" value="Run" id="run-button">
                <br>
            </form>
        </div>
        <div id="register-area">
            <table id="registers">
                <tr>
                    <th>
                        Register
                    </th>
                    <th>
                        Contents
                    </th>
                </tr>
                {% for reg, cont in registers.items %}
                    <tr>
                        <td id="register">
                            {{ reg }}
                        </td>
                        <td id="contents">
                            {{ cont }}
                        </td>
                    </tr>
                {% endfor %}
    
            </table>
        </div>
        <hr>
        <br>
        Output: 
        <input type="text" name="output" max_length="60"
            readonly="readonly" value="{{ output }}">
        <br>
        <br>
    </div>
{% endblock content %}
